div_container {
border: 3px solid white;
display: flex;


}

.div_item1{
background-color: yellow;
border: 3px solid yellow;
margin: 20px;
padding: 120px;
width: 160px;
height: 120px;
margin-top: 40px;
position: absolute;
top: 40px;
left: 20px;
}
.div_item2{
background-color: blue;
border: 3px solid blue;
margin: 20px;
padding: 40px;
width: 40px;
height: 40px;
margin-top: 20px;
position: absolute;
left: 20px;
top: 20px;
}
.div_item3{
    background-color: green;
    border: 3px solid green;
    margin: 20px;
    padding: 120px;
    width: 160px;
    height: 120px;
    margin-top: 140px;
    position: absolute;
    left: 100px;
    
    
}
.div_item4{
    background-color: red;
    border: 3px solid red;
    margin: 20px;
    padding: 40px;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    
}